<div id="sounds">

</div>

<style>
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
</style>

<script>
$(document).ready(function() {
    
        
<% @page.uploads.each_with_index do |upload, i| %>
    var sound_<%=i%> = new Howl({
      src: [
 
      '<%= rails_blob_url upload %>',
     
      ]
    });
    sb = $('<button style="width: 40px; height: 40px;" class="btn btn-outline-secondary rounded-circle"></button>').click(function() {
        sound_<%=i%>.play();
    });

    $("#sounds").append(sb);
<% end %>
});
</script>
