asdf
<div id="md-target">
</div>
 
<div style="display:none;" id="markdown">
<%= @page.body %>
</div>

  <script>
    //$( document ).ready(function() {
    $( document ).on('turbolinks:load', function() {
       // console.log("turbo links load at " + window.location.href);
        //
      //  var md = marked ( $("#markdown").html(), {sanitize:false}); 
      //  $( "#md-target" ).html(md );
    });

  </script>

