
<div id="md-target">
</div>
 
<div style="display:none;" id="markdown">
<%= @page.body %>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    $( document ).ready(function() {
        var md = marked ( $("#markdown").html(), {sanitize:false}); 
        $( "#md-target" ).html(md );
    });

  </script>

