// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.starter-template {
  padding: 3rem 1.5rem;
}*/

ul {
      list-style-type: none;
}

#editor {
    position: absolute;
    width: 500px;
    height: 400px;
}
